@font-face {
	font-family: "Quicksand";
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/quicksand/Quicksand-Regular.ttf") format ("truetype");
}

@font-face {
	font-family: "Quicksand";
	font-weight: 500;
	font-style: normal;
	src: url("/fonts/quicksand/Quicksand-Medium.ttf") format ("truetype");
}

@font-face {
	font-family: "Quicksand";
	font-weight: bold;
	font-style: normal;
	src: url("/fonts/quicksand/Quicksand-Bold.ttf") format ("truetype");
}

@font-face {
	font-family: "Quicksand";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/quicksand/Quicksand-SemiBold.ttf") format ("truetype");
}

@font-face {
	font-family: "Exo2";
	font-weight: 500;
	font-style: normal;
	src: url("/fonts/exo2/Exo2-Medium.ttf") format ("truetype");
}
@font-face {
	font-family: "Exo2";
	font-weight: 500;
	font-style: italic;
	src: url("/fonts/exo2/Exo2-MediumItalic.ttf") format ("truetype");
}
@font-face {
	font-family: "Exo2";
	font-weight: normal;
	font-style: italic;
	src: url("/fonts/exo2/Exo2-Italic.ttf") format ("truetype");
}
@font-face {
	font-family: "Exo2";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/exo2/Exo2-SemiBold.ttf") format ("truetype");
}

/* Styles */

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
}
html {
	font-family: "Quicksand", sans-serif;
	background: #262626;
}
code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
