/* Slider Animation */
.slider {
  display: flex;
  align-content: center;
  width: 60%;
  height: 8vh;
  margin: 5vh auto;
  background: linear-gradient(180deg, black, rgb(31, 51, 55));
  overflow: hidden;
  border-radius: 50px;
  box-shadow:
    inset 0px 2px 2px gray,
    2px 2px 2px #000;
  border: 1px solid rgb(31, 51, 55);
}

.slider:hover .list .item {
  animation-play-state: paused;
}

.slider .list {
  height: 100%;
  display: flex;
  width: 100%;
  min-width: calc(40px * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25%;
  left: 100%;
  animation: autoRun 12s linear infinite;
  animation-delay: calc((12s / var(--quantity)) * (var(--position) - 1));
  transition: all 0.3s ease;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(40px * -1);
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    width: 90%;
  }

  .slider .list {
    min-width: 200%;
  }

  .slider .list .item {
    width: 30px;
    height: 30px;
    animation: autoRun 9s linear infinite;
    animation-delay: calc((9s / var(--quantity)) * (var(--position) - 1));
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(30px * -1);
    }
  }

  #google-performance {
    mask-image: none !important;
  }
}

/* Google Mask Bg */

@media only screen and (max-width: 1155px) {
  #google-performance {
    mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 5.478322072072071%,
      rgba(255, 255, 255, 1) 50.89562218468468%,
      rgba(0, 0, 0, 0) 95.21839808558559%
    );
  }
}

@media only screen and (max-width: 590px) {
  #google-performance {
    mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 5.478322072072071%,
      rgba(255, 255, 255, 1) 50.89562218468468%,
      rgba(0, 0, 0, 0) 95.21839808558559%
    ) !important;
  }
}

@media only screen and (max-width: 430px) {
  #google-performance {
    mask-image: none !important;
  }
}
