---
import '../Styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Ricardo's Portfolio">
	<section class="mainLayout h-screen w-full flex flex-col justify-center items-center px-12 gap-4">
		<button type="button" class="w-50 px-4 py-1 flex justify-center items-center bg-sky-500 rounded-full gap-2">
			<img src="/assets/mail-svgrepo-com.svg" alt="Mail Icon" class="max-w-4">
			<a href="mailto:ricardoguzman444@gmail.com" class="text-white">Contactame</a>
		</button>
		<h1s class="text-white font-semibold text-xl text-center max-w-prose">👋 Hola!<br/>Soy Ricardo Guzman</h1s>
		<figure>
			<img src="" />
		</figure>
		<h3 class="text-white text-center text-lg max-w">Construyendo soluciones para la vida a traves del Software</h3>
		<div></div>
	</section>
</MainLayout>