---
import '../Styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Ricardo's Portfolio">
	<section class="mainLayout h-screen w-full flex flex-col justify-center items-center">

	</section>
</MainLayout>