---
import '../Styles/global.css';
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Ricardo's Portfolio">
	<section class="mainLayout h-screen w-full flex flex-col justify-center items-center">
		<button type="button" class="max-w-4 flex justify-center items-center">
			<img src="" alt="Mail Icon" class="max-w-full">
			<a href="mailto:ricardoguzman444@gmail.com">Contactame</a>
		</button>
		<h1>Hola! Soy Ricardo Guzman</h1>
		<figure></figure>
	</section>
</MainLayout>