---

---

<section
  id="contact-section"
  class="relative flex flex-col items-center justify-around w-[95%] min-[425px]:w-11/12 md:w-4/5 h-auto mx-auto my-16 py-14 px-2 md:px-10 bg-contact-background rounded-xl border-[1px] border-gray-100 shadow-xl opacity-0 scroll-mt-24"
>
  <div
    class="absolute inset-0 h-full w-full bg-gradient-to-br from-shopify-light to-gray-50 opacity-95 rounded-xl"
  >
  </div>
  <div class="w-full mx-auto z-10">
    <h3
      class="font-displayLight text-center text-lg md:text-xl mb-5 tracking-wide"
    >
      Got a Project? Need Help?
    </h3>
    <h3
      class="font-display text-center text-4xl md:text-6xl tracking-wide mb-5"
    >
      Let's Chat
    </h3>
    <p class="text-center text-base md:text-lg mb-10">
      Don't let your store stop you from achieving your highest business
      potential!
    </p>
  </div>
  <div class="w-full rounded-xl">
    <!-- Calendly inline widget begin -->
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/ricardoguz/meet-with-me"
      style="min-width:320px;height:700px;"
    >
    </div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async></script>
    <!-- Calendly inline widget end -->
  </div>
</section>
