---
import { Image } from "astro:assets";
import xLogo from "@/assets/images/x_logo.svg";
import linkedinLogo from "@/assets/images/linkedin_logo.svg";
---

<footer class="flex w-full h-auto py-16 md:py-32">
  <div
    class="flex flex-col min-[530px]:flex-row justify-start gap-y-10 gap-x-20 md:gap-x-40 lg:gap-x-96 w-11/12 md:w-4/5 mx-auto"
  >
    <div
      class="flex flex-col items-start justify-around gap-y-5 order-2 min-[530px]:order-1"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="35px"
          zoomAndPan="magnify"
          viewBox="0 0 375 374.999991"
          height="35px"
          preserveAspectRatio="xMidYMid meet"
          version="1.0"
          ><defs
            ><clipPath id="5f24373ab6"
              ><path
                d="M 136 115 L 342.285156 115 L 342.285156 353.4375 L 136 353.4375 Z M 136 115 "
                clip-rule="nonzero"></path></clipPath
            ><clipPath id="05d2bfb94c"
              ><path
                d="M 32.535156 21.9375 L 237 21.9375 L 237 214 L 32.535156 214 Z M 32.535156 21.9375 "
                clip-rule="nonzero"></path></clipPath
            ></defs
          ><g clip-path="url(#5f24373ab6)"
            ><path
              fill="#000000"
              d="M 241.835938 268.316406 C 271.78125 260.21875 296.050781 247.480469 314.613281 230.128906 C 333.160156 212.78125 342.449219 190.332031 342.449219 162.757812 L 342.449219 115.820312 L 237.808594 116.015625 L 237.808594 166.652344 C 237.808594 181.246094 230.992188 192.914062 217.351562 201.675781 C 203.71875 210.425781 184.160156 214.804688 158.664062 214.804688 L 136.867188 214.804688 L 136.867188 282.777344 L 200.308594 353.085938 L 321.039062 353.085938 L 241.835938 268.316406 "
              fill-opacity="1"
              fill-rule="nonzero"></path></g
          ><g clip-path="url(#05d2bfb94c)"
            ><path
              fill="#000000"
              d="M 236.820312 115.175781 L 236.820312 21.945312 L 32.582031 21.945312 L 32.582031 213.304688 L 135.875 213.304688 L 135.875 115.175781 L 236.820312 115.175781 "
              fill-opacity="1"
              fill-rule="nonzero"></path></g
          ></svg
        >
      </div>
      <div class="flex flex-col gap-y-3">
        <h4 class="text-xl font-displayLight">Socials & Email 📫</h4>
        <div class="flex gap-x-2">
          <a
            href="mailto:ricardoguzman444@gmail.com"
            class="inline-block h-auto p-1 border-2 border-black rounded-full shadow-md hover:border-0 hover:bg-shopify-light hover:px-[6px] hover:py-[6px]"
          >
            <svg
              width="40px"
              height="40px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z"
                  fill="#242424"></path>
              </g></svg
            >
          </a>
          <a
            href="https://instagram.com/"
            target="_blank"
            class="inline-block h-auto p-1 border-2 border-black rounded-full shadow-md hover:border-0 hover:bg-shopify-light hover:px-[6px] hover:py-[5px]"
          >
            <svg
              fill="#000000"
              width="40px"
              height="40px"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
                ></path><path
                  d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
                ></path></g
              ></svg
            >
          </a>
          <a
            href="https://x.com/"
            target="_blank"
            class="inline-flex items-center justify-center h-auto py-1 px-[10px] border-2 border-black rounded-full shadow-md hover:border-0 hover:bg-shopify-light hover:px-[12px] hover:py-[5px]"
          >
            <Image
              src={xLogo}
              alt="X Logo"
              class="min-w-[28px] w-[28px] h-auto"
            />
          </a>
          <a
            href="https://linkedin.com/"
            target="_blank"
            class="inline-block h-auto py-1 px-[10px] border-2 border-black rounded-full shadow-md hover:border-0 hover:bg-shopify-light hover:px-[12px] hover:py-[5px]"
          >
            <Image
              src={linkedinLogo}
              alt="Linkedin Logo"
              class="min-w-[28px] w-[28px] h-auto mt-1"
            />
          </a>
          <a
            href="https://youtube.com/"
            target="_blank"
            class="inline-block h-auto p-1 border-2 border-black rounded-full shadow-md hover:border-0 hover:bg-shopify-light hover:px-[6px] hover:py-[5px]"
          >
            <svg
              fill="#000000"
              width="40px"
              height="40px"
              viewBox="-4.5 0 32 32"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>youtube</title>
                <path
                  d="M9.72 20.16v0c-0.8 0-1.32-0.6-1.36-1.44 0-0.16 0-5.44 0-5.48 0.040-0.8 0.6-1.4 1.36-1.4 0.24 0 0.48 0.040 0.68 0.16 0.44 0.24 5.24 2.84 5.24 2.84 0.44 0.28 0.68 0.68 0.68 1.12s-0.24 0.84-0.64 1.12c0 0-5.24 2.84-5.28 2.88-0.2 0.12-0.44 0.2-0.68 0.2zM10.040 13.68v4.52c0 0.040 0 0.080 0 0.080l4.24-2.28c0 0-3.96-2.16-4.24-2.32zM11.52 24.48c-2.44 0-5.4-0.2-7.72-0.48-2-0.24-3.12-1.28-3.44-3.16-0.24-1.24-0.36-2.96-0.36-4.84s0.12-3.6 0.32-4.84c0.32-1.88 1.44-2.92 3.44-3.16 2.32-0.28 5.28-0.48 7.72-0.48s5.4 0.2 7.72 0.48c2 0.24 3.12 1.28 3.44 3.16 0.2 1.24 0.32 2.96 0.32 4.84s-0.12 3.6-0.32 4.84c-0.32 1.88-1.44 2.92-3.44 3.16-2.28 0.28-5.24 0.48-7.68 0.48zM11.52 9.16c-2.36 0-5.24 0.16-7.48 0.44-1.48 0.2-1.88 0.88-2.040 1.84-0.2 1.2-0.32 2.8-0.32 4.56s0.12 3.36 0.32 4.52c0.16 0.96 0.6 1.64 2.040 1.84 2.24 0.28 5.12 0.44 7.48 0.44s5.24-0.16 7.48-0.44c1.48-0.2 1.88-0.88 2.040-1.84 0.2-1.16 0.32-2.76 0.32-4.52s-0.12-3.36-0.32-4.52c-0.16-0.96-0.6-1.64-2.040-1.84-2.24-0.28-5.12-0.48-7.48-0.48z"
                ></path>
              </g></svg
            >
          </a>
        </div>
      </div>
      <div class="mt-4">
        <p class="text-sm text-center text-gray-500">
          © 2025 Ricardo Guzman. All Rights Reserved.
        </p>
      </div>
    </div>
    <div class="pr-10 order-1 min-[530px]:order-2">
      <h4 class="text-xl font-displayLight mb-4">Links 🔗</h4>
      <ul>
        <li class="mb-1">
          <a
            href="/portfolio"
            class="text-lg transition-all duration-200 hover:underline hover:font-textSemiBold"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/portfolio/about-me"
            class="text-lg transition-all duration-200 hover:underline hover:font-textSemiBold"
            >About Me</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
