---

---
<header>
  <nav class="hidden lg:flex justify-between w-3/4 m-auto py-4">
    <div>
      <a href="#">
        <img src="/portfolio-logo.svg" class="w-14" />
      </a>
    </div>
    <ul class="flex items-center min-h-full">
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#" class="relative block group overflow-hidden">
          <span
            class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Home</span
          >
          <span
            class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Home</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#skills" class="relative block group overflow-hidden">
          <span
            class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Skills</span
          >
          <span
            class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Skills</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#about" class="relative block group overflow-hidden">
          <span
            class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >About</span
          >
          <span
            class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >About</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#projects" class="relative block group overflow-hidden">
          <span
            class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Projects</span
          >
          <span
            class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Projects</span
          >
        </a>
      </li>
    </ul>
  </nav>
  <!-- Mobile Navigation -->
  <section class="flex justify-between w-3/4 m-auto py-4">
    <div>
      <a href="#">
        <img src="/portfolio-logo.svg" class="w-12" />
      </a>
    </div>
    <div>
      <button
        class="relative flex-col items-center  justify-around lg:hidden w-12 h-12"
        aria-label="Open Menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <div class="mb-2 w-full border-b-2 border-black"></div>
        <div class="w-full border-b-2 border-black"></div>
        <div class="relative mt-2 w-1/2 border-b-2 border-black"></div>
      </button>
    </div>
  </section>
  <nav>
    <ul>
      <li>

      </li>
      <li>
        <ul>
          
        </ul>
      </li>
    </ul>
  </nav>
</header>
