---
import HeaderMobile from "./HeaderMobile.tsx";
---

<header>
  <nav
    class="hidden md:flex justify-between w-11/12 min-[911px]:w-4/5 m-auto py-4"
  >
    <div>
      <a href="#">
        <img src="/portfolio-logo.svg" class="w-14" />
      </a>
    </div>
    <ul class="flex items-center min-h-full">
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >HOME</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >HOME</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#skills" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >SERVICES</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >SERVICES</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#about" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >ABOUT</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >ABOUT</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#projects" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >PROJECTS</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >PROJECTS</span
          >
        </a>
      </li>
    </ul>
  </nav>
  <!-- Mobile Navigation -->
  <HeaderMobile client:load />
</header>
