---
import HeaderMobile from "./HeaderMobile.tsx";
---

<header
  id="navbar"
  class="md:sticky md:w-full md:top-0 md:z-50 transition-all duration-300"
>
  <nav
    class="hidden md:flex justify-between w-11/12 min-[911px]:w-4/5 m-auto py-4"
  >
    <div>
      <a href="/portfolio">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="56px"
          zoomAndPan="magnify"
          viewBox="0 0 375 374.999991"
          height="56px"
          preserveAspectRatio="xMidYMid meet"
          version="1.0"
          ><defs
            ><clipPath id="5f24373ab6"
              ><path
                d="M 136 115 L 342.285156 115 L 342.285156 353.4375 L 136 353.4375 Z M 136 115 "
                clip-rule="nonzero"></path></clipPath
            ><clipPath id="05d2bfb94c"
              ><path
                d="M 32.535156 21.9375 L 237 21.9375 L 237 214 L 32.535156 214 Z M 32.535156 21.9375 "
                clip-rule="nonzero"></path></clipPath
            ></defs
          ><g clip-path="url(#5f24373ab6)"
            ><path
              fill="#000000"
              d="M 241.835938 268.316406 C 271.78125 260.21875 296.050781 247.480469 314.613281 230.128906 C 333.160156 212.78125 342.449219 190.332031 342.449219 162.757812 L 342.449219 115.820312 L 237.808594 116.015625 L 237.808594 166.652344 C 237.808594 181.246094 230.992188 192.914062 217.351562 201.675781 C 203.71875 210.425781 184.160156 214.804688 158.664062 214.804688 L 136.867188 214.804688 L 136.867188 282.777344 L 200.308594 353.085938 L 321.039062 353.085938 L 241.835938 268.316406 "
              fill-opacity="1"
              fill-rule="nonzero"></path></g
          ><g clip-path="url(#05d2bfb94c)"
            ><path
              fill="#000000"
              d="M 236.820312 115.175781 L 236.820312 21.945312 L 32.582031 21.945312 L 32.582031 213.304688 L 135.875 213.304688 L 135.875 115.175781 L 236.820312 115.175781 "
              fill-opacity="1"
              fill-rule="nonzero"></path></g
          ></svg
        >
      </a>
    </div>
    <ul class="flex items-center min-h-full">
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#home" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Home</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Home</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#services" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Services</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Services</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#about" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >About</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >About</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#projects" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Projects</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Projects</span
          >
        </a>
      </li>
      <li
        class="mx-3 transition-all duration-150 hover:border-b-2 hover:border-black"
      >
        <a href="#projects" class="relative block group overflow-hidden">
          <span
            class="inline-block font-textSemiBold text-gray-800 transition-transform duration-300 group-hover:-translate-y-full text-lg"
            >Contact</span
          >
          <span
            class="absolute font-textSemiBold text-gray-800 left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg"
            >Contact</span
          >
        </a>
      </li>
    </ul>
  </nav>
  <!-- Mobile Navigation -->
</header>
<HeaderMobile client:only />
