---

---

<section
  id="middle-section"
  class="relative flex flex-col items-center justify-center gap-y-10 w-11/12 md:w-9/12
  h-auto my-36 md:my-40 mx-auto bg-middle-section-background bg-cover bg-center py-14 md:py-28 rounded-xl opacity-0"
>
  <iframe
    class="absolute -top-40 h-52 md:h-60 w-full"
    title="Man running with a briefcase animation"
    src="https://lottie.host/embed/73efc98d-a8f1-411e-a1ec-2213c3f6c8cf/sUW7D1A4ZY.lottie"
  ></iframe>
  <h3
    class="text-center text-4xl md:text-6xl font-displayLight text-white max-w-[80%] text-balance"
  >
    Transform Your Business with Professional Development
  </h3>
  <a
    href="#offer"
    class="bg-gray-900 py-3 px-8 text-white text-base md:text-xl rounded-xl transition-all duration-500 hover:bg-gray-700"
    >Get Free Audit!</a
  >
</section>
