---

---

<section
  id="middle-section"
  class="relative flex flex-col items-center justify-center gap-y-10 w-9/12
  h-auto my-60 mx-auto bg-middle-section-background bg-cover bg-center py-28 rounded-xl opacity-0"
>
  <iframe
    class="absolute -top-40 h-60 w-full"
    src="https://lottie.host/embed/73efc98d-a8f1-411e-a1ec-2213c3f6c8cf/sUW7D1A4ZY.lottie"
  ></iframe>
  <h3
    class="text-center text-6xl font-displayLight text-white max-w-[80%] text-balance"
  >
    Transform Your Business with Professional Development
  </h3>
  <a
    href="/contact"
    class="bg-gray-900 py-3 px-8 text-white text-xl rounded-xl transition-all duration-500 hover:bg-gray-700"
    >Let's Have a Talk!</a
  >
</section>
