---

---

<section
	id="offer"
	class="relative flex flex-col items-center justify-around w-[95%] min-[425px]:w-11/12 md:w-4/5 h-auto mx-auto my-16 py-14 px-2 md:px-10 bg-contact-background rounded-xl border-[1px] border-gray-100 shadow-xl opacity-0 scroll-mt-24"
>
	<div
		class="absolute inset-0 h-full w-full bg-shopify-light opacity-95 rounded-xl"
	>
	</div>
	<div class="w-full mx-auto z-10">
		<h4
			class="font-displayLight text-center text-gray-800 w-10/12 md:w-full mx-auto text-lg md:text-xl text-pretty mb-5 tracking-wide"
		>
			Free Professional Audit? Yes, <b>100% Free</b> for the first 10 stores
		</h4>
		<h3
			class="font-display text-center text-gray-800 text-4xl md:text-6xl tracking-wide mb-5"
		>
			Shopify Audit Bundle
		</h3>
		<p class="text-center text-base md:text-lg mb-10">
			Free, no access to your store needed, and no commitment - I cover it
			all.
		</p>
		<ul
			class="grid grid-cols-1 auto-rows-auto md:grid-cols-2 gap-4 w-full md:w-1/2 mx-auto mb-10 md:mb-0 text-base md:text-lg"
		>
			<li class="text-shopify-light text-center">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-11/12 bg-shopify-dark rounded-full px-4 py-2"
				>
					✓ CRO Audit
				</span>
			</li>
			<li class="text-shopify-light text-center">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-11/12 bg-shopify-dark rounded-full px-4 py-2"
				>
					✓ UX/UI Audit
				</span>
			</li>
			<li class="text-shopify-light text-center">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-11/12 bg-shopify-dark rounded-full px-4 py-2"
				>
					✓ SEO Audit
				</span>
			</li>
			<li class="text-shopify-light text-center">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-11/12 bg-shopify-dark rounded-full px-4 py-2"
				>
					✓ Site Performance Audit
				</span>
			</li>
			<li class="text-shopify-light text-center">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-11/12 bg-shopify-dark rounded-full px-4 py-2"
				>
					✓ A/B Testing Ideas
				</span>
			</li>
			<li class="text-shopify-light text-center">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-11/12 bg-shopify-dark rounded-full px-4 py-2"
				>
					✓ Checkout & Cart Audit
				</span>
			</li>
			<li class="flex justify-center col-span-1 md:col-span-2">
				<span
					class="inline-flex items-center justify-center w-9/12 md:w-1/2 bg-shopify-dark rounded-full px-4 py-2 text-shopify-light"
				>
					✓ 36-48 hours delivery
				</span>
			</li>
		</ul>
	</div>
	<div class="w-full rounded-xl">
		<!-- Calendly inline widget begin -->
		<div
			class="calendly-inline-widget"
			data-url="https://calendly.com/ricardoguz/meet-with-me"
			style="min-width:320px;height:700px;"
		>
		</div>
		<script
			type="text/javascript"
			src="https://assets.calendly.com/assets/external/widget.js"
			async></script>
		<!-- Calendly inline widget end -->
	</div>
</section>
