---
import ServiceCards from "./ServiceCards.tsx";
---

<section class="flex flex-col items-center h-full mt-24">
  <p class="text-center text-lg md:text-xl font-textSemiBold">Services</p>
  <h2
    class="text-balance text-center text-3xl md:text-4xl font-display my-5 max-w-80"
  >
    Your Success My Priority
  </h2>
  <p class="text-center text-balance text-base md:text-lg">
    Transforming your business into a revenue-generating powerhouse
  </p>
  <ServiceCards />
</section>
