---
import Chart from "./Chart.tsx";
import "@/styles/global.css";
---

<section
  class="flex flex-col items-center h-full mt-28 scroll-mt-24"
  id="services"
>
  <p class="text-center text-lg md:text-xl font-textSemiBold text-gray-800">
    Services
  </p>
  <h2
    class="text-balance text-center text-gray-800 text-3xl md:text-4xl font-display my-5 max-w-80"
  >
    Your Success My Priority
  </h2>
  <p class="text-center text-balance text-base md:text-lg">
    Transforming your business into a revenue-generating powerhouse
  </p>
  <div
    class="flex flex-col items-center h-screen w-11/12 gap-y-2 min-[911px]:w-4/5 mt-14"
  >
    <div
      class="flex flex-col md:flex-row gap-y-2 md:gap-x-2 w-full md:h-[560px]"
    >
      <div
        class="relative flex flex-col gap-y-10 w-full md:w-3/5 h-[600px] md:h-full p-10 bg-gradient-to-bl from-gray-50 from-50% to-shopify-light rounded-xl border-[1px] border-gray-200 overflow-hidden z-0"
      >
        <h3 class="text-left font-textSemiBold text-xl">Store Setup</h3>
        <p class="text-pretty text-lg">
          Save time and eliminate stress with professional store setup services.
          You run your business, I'll ensure your online presence works
          flawlessly.
        </p>
        <figure class="relative w-[200%] sm:w-[180%] lg:w-[130%] -ml-12">
          <img
            src="/store_setup_mockup.webp"
            class="w-full mb-16"
            alt="Mockup Of a Computer withy Shopify Dashboard"
          />
          <p>Device Mockup created from</p>
          <a href="https://deviceframes.com/templates/macbook-air">
            MacBook Air mockups
          </a>
        </figure>
      </div>
      <div
        class="relative flex flex-col gap-y-10 w-full md:w-2/5 h-[600px] md:h-full p-10 bg-gray-50 rounded-xl border-[1px] border-gray-200 overflow-hidden z-0"
      >
        <h3 class="text-left font-textSemiBold text-xl">
          Theme Customizations
        </h3>
        <p class="text-pretty text-lg">
          Transform your Shopify store into a sales machine with custom themes
          that convert. Beautiful design meets proven results.
        </p>
        <div class="relative">
          <figure
            class="absolute top-0 w-[180%] md:w-[160%] lg:w-[140%] xl:w-[120%] -left-12 md:-left-10 lg:-left-10 lg:-mt-4"
          >
            <img
              src="/code_snippet_mockup.png"
              class="w-full"
              alt="Code Snippet mockup"
            />
          </figure>
          <figure class="absolute top-12 left-1/3 md:left-1/2 w-4/5 md:w-2/3">
            <img
              src="/theme_customization_screenshot.png"
              class="w-full"
              alt="Theme Customizer"
            />
          </figure>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row gap-y-2 md:gap-x-2 w-full md:h-[560px]"
    >
      <div
        class="relative flex flex-col gap-y-10 w-full md:w-1/2 h-[600px] md:h-full p-10 bg-gray-50 rounded-xl border-[1px] border-gray-200 overflow-hidden z-0"
      >
        <h3 class="text-left font-textSemiBold text-xl">
          Conversion Rate Optimization
        </h3>
        <p class="text-pretty text-lg">
          Boost your conversion rates with proven CRO tactics. Strategic A/B
          testing that delivers measurable results.
        </p>
        <div
          class="relative h-80 w-[120%] sm:w-full lg:w-full sm:left-0 lg:left-0 -left-[15%]"
        >
          <Chart client:load />
        </div>
      </div>
      <div
        class="relative flex flex-col gap-y-10 w-full md:w-1/2 h-[600px] md:h-full p-10 bg-gradient-to-tl from-gray-50 to-gray-200 rounded-xl border-[1px] border-gray-200 overflow-hidden z-0"
      >
        <h3 class="text-left font-textSemiBold text-xl">Store Migration</h3>
        <p class="text-pretty text-lg">
          Seamlessly migrate your e-commerce store without losing SEO rankings
          or data. From WooCommerce to Adobe Commerce (formerly Magento), I
          handle it all.
        </p>
        <div
          class="relative w-[160%] min-[320px]:w-[155%] min-[375px]:w-[150%] min-[425px]:w-[140%] min-[500px]:w-[135%] sm:w-[120%] md:w-[130%] lg:w-[110%] min-[1730px]:w-10/12 min-[2200px]:w-9/12 -left-14 min-[425px]:-left-14 min-[500px]:-left-16 sm:-left-8 md:-left-9 lg:-left-3 min-[1730px]:left-20 min-[2200px]:left-32 -mt-1 md:-mt-8 min-[2200px]:-mt-8"
        >
          <video autoplay muted playsinline loop class="w-full">
            <source src="/store_migration_animation.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row gap-y-2 md:gap-x-2 w-full md:h-[560px]"
    >
      <div
        class="relative flex flex-col gap-y-10 w-full md:w-3/5 h-[600px] md:h-full p-10 bg-gradient-radial rounded-xl border-[1px] border-gray-200 text-gray-800 overflow-hidden z-0"
      >
        <h3 class="text-left font-textSemiBold text-xl">
          Performance Optimization
        </h3>
        <p>
          Speed sells. Get a lightning-fast store that converts, measured by
          industry-leading tools.
        </p>
        <div
          id="performance-optimization-container"
          class="flex flex-col justify-around h-auto p-6 bg-gradient-radial rounded-xl border-gray-300 border-[1px] overflow-hidden animate-fade-up animate-duration-700"
        >
          <div class="flex">
            <span>
              <svg
                width="20px"
                height="20px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    d="M19.76 10.77L19.67 10.42H12.23V13.58H16.68C16.4317 14.5443 15.8672 15.3974 15.0767 16.0029C14.2863 16.6084 13.3156 16.9313 12.32 16.92C11.0208 16.9093 9.77254 16.4135 8.81999 15.53C8.35174 15.0685 7.97912 14.5191 7.72344 13.9134C7.46777 13.3077 7.33407 12.6575 7.33 12C7.34511 10.6795 7.86792 9.41544 8.79 8.47002C9.7291 7.58038 10.9764 7.08932 12.27 7.10002C13.3779 7.10855 14.4446 7.52101 15.27 8.26002L17.47 6.00002C16.02 4.70638 14.1432 3.9941 12.2 4.00002C11.131 3.99367 10.0713 4.19793 9.08127 4.60115C8.09125 5.00436 7.19034 5.59863 6.43 6.35002C4.98369 7.8523 4.16827 9.85182 4.15152 11.9371C4.13478 14.0224 4.918 16.0347 6.34 17.56C7.12784 18.3449 8.06422 18.965 9.09441 19.3839C10.1246 19.8029 11.2279 20.0123 12.34 20C13.3484 20.0075 14.3479 19.8102 15.2779 19.42C16.2078 19.0298 17.0488 18.4549 17.75 17.73C19.1259 16.2171 19.8702 14.2347 19.83 12.19C19.8408 11.7156 19.8174 11.2411 19.76 10.77Z"
                    fill="#1f2937"></path>
                </g>
              </svg>
            </span>
            <p class="inline">Google Lightouse</p>
          </div>
          <div
            id="google-performance"
            class="flex justify-center shrink-0 grow-0 basis-0 gap-[15px] lg:gap-[20px] mt-4"
          >
            <div class="flex flex-col items-center">
              <div
                class="relative w-min h-min mt-6 bg-gradient-to-b from-gray-100 from-0% to-googleCircleGreen to-100% rounded-[200px] aspect-square shadow-googleCircle"
              >
                <svg
                  class="w-[130px] h-[130px]"
                  style="transform-origin: center; transform: rotate(-87deg)"
                >
                  <g class="translate-x-[6px] translate-y-[6px]">
                    <circle
                      cx="59"
                      cy="59"
                      r="54"
                      fill="none"
                      stroke="rgba(0, 0, 0, 0.4)"
                      stroke-dasharray="402.1238596594935"
                      stroke-width="3"></circle>
                    <circle
                      id="progress-path-performance"
                      cx="59"
                      cy="59"
                      r="54"
                      fill="none"
                      stroke="rgb(0, 255, 157)"
                      stroke-linecap="round"
                      stroke-dasharray="339.29200658769764"
                      stroke-dashoffset="339.29200658769764"
                      stroke-width="3"
                      style="transform-origin: center center"></circle>
                  </g>
                </svg>
                <p
                  id="progress-text-performance"
                  class="absolute top-[55px] right-[52px] text-gray-800 font-textSemiBold text-xl"
                >
                </p>
              </div>
              <div class="mt-5">
                <p class="text-lg font-textSemiBold text-gray-800">
                  Performance
                </p>
              </div>
            </div>
            <div class="flex flex-col items-center">
              <div
                class="relative w-min h-min bg-gradient-to-b from-gray-100 from-0% to-googleCircleGreen to-100% rounded-[200px] aspect-square shadow-googleCircle"
              >
                <svg
                  class="w-[150px] h-[150px]"
                  style="transform-origin: center; transform: rotate(-87deg)"
                >
                  <g class="translate-x-[6px] translate-y-[6px]">
                    <circle
                      cx="69"
                      cy="69"
                      r="64"
                      fill="none"
                      stroke="rgba(0, 0, 0, 0.4)"
                      stroke-dasharray="402.1238596594935"
                      stroke-width="3"></circle>
                    <circle
                      id="progress-path-seo"
                      cx="69"
                      cy="69"
                      r="64"
                      fill="none"
                      stroke="rgb(0, 255, 157)"
                      stroke-linecap="round"
                      stroke-dasharray="402.1238596594935"
                      stroke-dashoffset="402.1238596594935"
                      stroke-width="3"
                      style="transform-origin: center center"></circle>
                  </g>
                </svg>
                <p
                  id="progress-text-seo"
                  class="absolute top-[65px] right-[58px] text-gray-800 font-textSemiBold text-xl"
                >
                </p>
              </div>
              <div class="mt-5">
                <p class="text-lg font-textSemiBold text-gray-800">SEO</p>
              </div>
            </div>
            <div class="flex flex-col items-center">
              <div
                class="relative w-min h-min mt-6 bg-gradient-to-b from-gray-100 from-0% to-googleCircleGreen to-100% rounded-[200px] aspect-square shadow-googleCircle"
              >
                <svg
                  class="w-[130px] h-[130px]"
                  style="transform-origin: center; transform: rotate(-87deg)"
                >
                  <g class="translate-x-[6px] translate-y-[6px]">
                    <circle
                      cx="59"
                      cy="59"
                      r="54"
                      fill="none"
                      stroke="rgba(0, 0, 0, 0.4)"
                      stroke-dasharray="402.1238596594935"
                      stroke-width="3"></circle>
                    <circle
                      id="progress-path-accessibility"
                      cx="59"
                      cy="59"
                      r="54"
                      fill="none"
                      stroke="rgb(0, 255, 157)"
                      stroke-linecap="round"
                      stroke-dasharray="339.29200658769764"
                      stroke-dashoffset="339.29200658769764"
                      stroke-width="3"
                      style="transform-origin: center center"></circle>
                  </g>
                </svg>
                <p
                  id="progress-text-accessibility"
                  class="absolute top-[55px] right-[52px] text-gray-800 font-textSemiBold text-xl"
                >
                </p>
              </div>
              <div class="mt-5">
                <p class="text-lg font-textSemiBold text-gray-800">
                  Accessibility
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="relative flex flex-col gap-y-10 w-full md:w-2/5 h-[600px] md:h-full p-10 bg-gray-50 rounded-xl border-[1px] border-gray-200 overflow-hidden z-0"
      >
      </div>
    </div>
    <div class="flex">
      <div></div>
      <div></div>
    </div>
  </div>
</section>
