---

---

<div class="w-full">
  <ul class="flex m-auto w-full">
    <li>Shopify</li>
    <li>Liquid</li>
    <li>Git</li>
    <li>JS</li>
    <li>HTML</li>
    <li>GitHub</li>
    <li>CSS</li>
    <li>Alpine.js</li>
    <li>Node</li>
  </ul>
</div>
