<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portfolio/Favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Expert Frontend Developer specializing in Shopify Theme Development, crafting high-converting and beautifully customized online stores. Click to see my services, projects and more."
    />
    <title>Ricardo's Portfolio</title>
  </head>
  <body class="min-h-min">
    <slot />
  </body>
</html>

<style>
  @import url("https://use.typekit.net/oqu5nlt.css");

  html,
  body {
    font-family: "pf-grand-gothik-variable", sans-serif;
    font-variation-settings:
      "wdth" 100,
      "wght" 200;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: min-content;
  }
</style>
