---
import Analytics from "@vercel/analytics/astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="min-h-min">
		<slot />
		<Analytics />
	</body>
</html>

<style>
	@import url("https://use.typekit.net/oqu5nlt.css");

	html,
	body {
		font-family: "pf-grand-gothik-variable", sans-serif;
		font-variation-settings:
			"wdth" 100,
			"wght" 200;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 100%;
		height: min-content;
	}
</style>
